@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  height: 100vh;
}

header {
    padding-bottom: 9rem;
    display: flex;
    justify-content: space-between;
    padding-right: 1rem;
    padding-left: 1rem;
    margin-top: 1rem;
}

header > div {
    margin-top: 2.2rem;
    margin-right: 3rem;
}

a {
    text-decoration: none;
    font-family: 'Monoton';
    background-color: white;
    border-radius: 3rem;
    padding: 0.5rem;
    border: 3px solid rgb(33, 33, 99);
    color:rgb(33, 33, 99);
    transition: 0.3s;
}

a:hover {
    background-color: rgb(33, 33, 99);
    color: white;
    border-radius: 0.5rem;
    transition: 0.3s;
}

input {
    color: black;
    border: none;
    background-color:seashell;
}




h1 {
    font-family: 'Monoton';
    margin-left: 3rem;
    
}

main {
    margin: auto;
    height: 12rem;
    width: 18rem;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.circle {
    background-color: rgb(33, 33, 99);
    width: 4rem;
    height: 4rem;
    border-radius: 4rem;
}

.circle:hover {
    background-color: khaki;
    transition: 0.2s;
}
